body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

h2 {
    color: #007bff;
}

nav a{
  color: Black;
  text-decoration: none;
  margin: 0 10px;
}

nav a:hover{
  text-decoration: underline;
}

.hero-section {
    background-color: #f8f9fa;
}

.about-section, .skills-section, .education-section, .contact-section {
    padding: 20px 0;
}



ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    background: #f8f9fa;
    padding: 10px;
    margin: 5px 0;
    border-left: 5px solid #007bff;
}
